/******************************* tags *******************************/
body{
    margin: 0;
}

/****************************** class ************************************/
.navbar{
    background-color: rgba(37, 204, 247,0.3);
    padding: 10px;
}

.main{
    background-color: rgba(37, 204, 247,0.3);
}


/******************************* id *******************************/
#logo{
    height: 70px;
}

#user{
    height : 20px;
}


