/****************************************** tags *******************************************/

body{
    margin: 0;
    padding: 0;
    background-color: #25CCF7;
    /* overflow: hidden; */
}

button{
    background-color: #16e0d3;
    border: none;
    border-radius: 30px;
    color: #ffff;
    text-align: center;
}

td{
    padding-left: 20px;
}

/****************************************** Class *******************************************/

.root{
    background-color: #25CCF7;
}

.navbar{
    background-color: #16e0d3;
}

.main{
    background-color: #25ccf7;
    opacity: 1;
    background-image:  radial-gradient(#ffffff 0.9px, transparent 0.9px), radial-gradient(#ffffff 0.9px, #25ccf7 0.9px);
    background-size: 36px 36px;
    background-position: 0 0,18px 18px;
    margin: 0;
    height: 88vh;
}
.heading{
    border-color: #000000;
    color: white;
    font-family: 'Shantell Sans', cursive;
    font-size: 150px;
    position: absolute;
    top: 30%;
    left: 15%;
    text-shadow:
    /* White glow */
    0 0 7px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 102px #0fa;
}

.tools{
    background-color: rgba(37, 204, 247, .3);
    height: 100vh;
}

.row{

}

.col{
    width: 100px;
}

.footer{
    background-color: #16e0d3;
    height: 30px;   
    text-align: center;
}


/****************************************** ID *******************************************/
