/****************************************** tags *******************************************/

body{
    margin: 0;
    padding: 0;
    background-color: #25CCF7;
    overflow: hidden;
}

button{
    background-color: #19fcac;
    border: none;
    border-radius: 30px;
    color: #ffff;
    position: relative;
    top: 180px;
    left: 200px;
}

/****************************************** Class *******************************************/

.root{
    background-color: #25CCF7;
}

.navbar{
    background-color: #16e0d3;
    height: 50px;
    width: 100vw;
}

.main{
    background-color: #25ccf7;
    margin: 0;
    height: 88vh;
    width: 100vw;
}
.heading{
    border-color: #000000;
    color: white;
    position: relative;
    font-family: 'Shantell Sans', cursive;
    font-size: 150px;
    top: 100px;
    left: 200px;
    text-shadow:
    /* White glow */
    0 0 7px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 102px #0fa;
}
.footer{
    background-color: #16e0d3;
    height: 30px;   
    text-align: center;
    position:relative;
    bottom: 0;
    width: 100vw;
}


/****************************************** ID *******************************************/
